version: "3.3"

volumes:
  mysql:
  project:
  results:
  secrets:
  letsencrypt:

services:
  traefik:
    image: "traefik:2.3@sha256:3f5c5a46ccff636a9e726961f123638bd6854191040072d860fc15bbcee3e184"
    container_name: "traefik"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.le.acme.httpchallenge=true"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.le.acme.email=hello@chipwolf.uk"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json"
    ports:
      - "443:443"
      - "8080:8080"
    volumes:
      - "letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  mysql:
    build: 
      context: images/mysql
    ports:
      - "3306:3306"
    volumes:
      - "mysql:/var/lib/mysql"

  makeproject:
    build: 
      context: images/makeproject
      args:
        - BOINC_USER
        - PROJECT_ROOT
    depends_on:
      - mysql
    volumes:
      - "project:$PROJECT_ROOT.dst"
      - "secrets:/run/secrets"
    hostname: makeproject
    environment:
      - URL_BASE
      - PROJECT

  apache:
    build: 
      context: images/apache
      args:
        - BOINC_USER
        - PROJECT_ROOT
    hostname: $PROJECT
    depends_on:
      - mysql
    volumes: 
      - "project:$PROJECT_ROOT"
      - "results:/results"
      - "secrets:/run/secrets"
      - "/dev/null:/run/secrets/keys/code_sign_private"
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.home.addprefix.prefix=/minecrafthome"
      - "traefik.http.routers.home.entrypoints=websecure"
      - "traefik.http.routers.home.rule=(PathPrefix(`/`) && Host(`minecraftathome.com`))"
      - "traefik.http.routers.home.middlewares=home@docker"
      - "traefik.http.routers.home.tls.certresolver=le"
      - "traefik.http.routers.local.entrypoints=websecure"
      - "traefik.http.routers.local.rule=(PathPrefix(`/minecrafthome`) && Host(`minecraftathome.com`))"
      - "traefik.http.routers.local.tls.certresolver=le"
    tty: true
    environment:
      - URL_BASE
      - PROJECT
